version: "3.9"
services:
  web:
    build: .
    container_name: flask_app
    ports:
      - "5000:5000"
    environment:
      - DBURI=mysql+pymysql://pfeuser:pfe123@db:3306/default_db
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_DATABASE: default_db
      MYSQL_USER: pfeuser
      MYSQL_PASSWORD: pfe123
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
